.result-card-wrap {
    height: 20em;
    /*width: 20em;*/
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.result-card {
    height: 100%;
    width: 85%;
    margin:0 auto;
    border: 1px solid #cecece;
}

.result-image {
    height: 39%;
    border-bottom: 1px solid #cecece;
    background-color: #cecece;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.result-blurb {
    padding: 8px;
    box-sizing: border-box;
    height: 45%;
}

.result-blurb-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}

.result-blurb-head span {
    
    font-size: 14px; 
    font-weight: 700;
}

.result-blurb-head span:nth-of-type(2) {
    font-size: 12px;
}

.result-blurb #blurb {
    font-size: 12px;
    overflow: hidden;
    margin-top: 25px;
    height: 7em;
    letter-spacing: 0.03em;
}

.grey {
    color: grey;
}

.result-action {
    border-top: 1px solid #cecece;
    color: #1fa69a;
    
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 3.4em;
}