.result-card-wrap {
    height: 22em;
    width: 325px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.result-card {
    height: 100%;
    width: 260px;
    margin:0 auto;
}

.result-image {
    height: 167px;
    width: 100%;
    border-bottom: 1px solid #cecece;
    background-color: #1fa69a;
    background-repeat: no-repeat;
    background-position: center center;
}

.result-blurb {
    padding: 8px;
    box-sizing: border-box;
    height: 35%;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.result-blurb-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3px;
}

.result-blurb-head span {
    
    font-size: 13px; 
    font-weight: 700;
}

.result-blurb-head span:nth-of-type(2) {
    font-size: 12px;
}

.result-blurb #blurb {
    font-size: 12px;
    overflow: hidden;
    margin-top: 10px;
    height: 7em;
    letter-spacing: 0.03em;
}

.grey {
    color: grey;
}

.result-action {
    border: 1px solid #cecece;
    color: #1fa69a;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 3.4em;
}