.search-page-container {
  width: 100%;
  max-width: 768px;
  margin: 5em auto 0 auto;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
}

.results-container {
  padding: 15px;
  box-sizing: border-box;
  max-width: 768px;
  margin: auto;
  min-height: 4em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#find-restos {
  transition: all 0.2s ease-in-out;
}

button[disabled] {
  background-color: #cecece;
  border: none;
}

.results-empty {
  color: #cecece;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.up-button {
  position: fixed;
  top: 90%;
  width: 7em;
  left: 69%;
  background-color: #fff;
  font-size: 13px;
  color: #1fa69a;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #1fa69a;
  border-radius: 3px;
  text-align: center;
}

a button {
  text-decoration: none;
  color: #fff;
}

.splash-container {
  width: 100%;
  height: 24em;
  background-color: #000;
}

.freeze {
  overflow: hidden;
}

.results-container .full-button {
  margin-top: 50px;
}